<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <title>PWA</title>
</head>
<body>
  <header>
    <nav class="navbar fixed-bottom">
      <ul>
        <li class="nav-item" id="navHome">
          <a href="#/home">
            <span class="material-icons">
              home
            </span>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item" id="navTransaction">
          <a href="#/transaction">
            <span class="material-icons">
              list
            </span>
            <span>Transaksi</span>
          </a>
        </li>
        <li class="nav-item" id="navReport">
          <a href="#/report">
            <span class="material-icons">
              summarize
            </span>
            <span>Laporan</span>
          </a>
        </li>
        <li class="nav-item" id="navManagement">
          <a href="#/management">
            <span class="material-icons">
              edit_note
            </span>
            <span>Manajemen</span>
          </a>
        </li>
        <li class="nav-item" id="navAccount">
          <a href="#/account">
            <span class="material-icons">
              person
            </span>
            <span>Akun</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="content">
    </section>
  </main>
  <footer>

  </footer>
</body>
</html>