*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(240, 240, 240, 0.2);
  -webkit-box-shadow: inset 0 0 2px lightgray;
          box-shadow: inset 0 0 2px lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: rgba(136, 136, 136, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

body {
  font-size: 14px;
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

body .fixed-bottom {
  position: fixed;
  bottom: 0;
}

body a,
body button {
  cursor: pointer;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style-type: none;
  background-color: #ffffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .navbar ul li.nav-item {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .navbar ul li.nav-item a {
  color: #444444;
  text-decoration: none;
  padding: 0.6em;
  display: block;
}

header .navbar ul li.nav-item a span {
  display: block;
}

header .navbar ul li.nav-item a:hover {
  background-color: #ffffff;
}

main #content {
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

main #content #contentHeader .profile {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name notif' 'saldo topup' 'transaction transaction';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.8em;
}

main #content #contentHeader .profile .profile__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  color: #444444;
}

main #content #contentHeader .profile .profile__name span {
  color: black;
}

main #content #contentHeader .profile .profile__notif {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: notif;
  text-align: right;
  color: #444444;
}

main #content #contentHeader .profile .profile__notif a {
  color: #444444;
  text-decoration: none;
}

main #content #contentHeader .profile .profile__saldo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: saldo;
  color: #444444;
}

main #content #contentHeader .profile .profile__saldo span {
  color: #0000aa;
}

main #content #contentHeader .profile .profile__topup {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: topup;
  text-align: right;
}

main #content #contentHeader .profile .profile__topup a {
  padding: 0.5em 1.5em;
  background-color: #0000aa;
  color: white;
  text-decoration: none;
  border-radius: 1em;
}

main #content #contentHeader .profile .profile__transaction {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: transaction;
  background-color: white;
  border-radius: 0.5em;
}

main #content #contentHeader .profile .profile__transaction table {
  width: 100%;
}

main #content #contentHeader .profile .profile__transaction table td {
  padding: 1em;
  text-align: center;
  color: #444444;
}

main #content #contentHeader .profile .profile__transaction table td span {
  color: black;
}

main #content #contentHeader .profile .profile-item span {
  display: block;
}

main #content #contentHeader .inner-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  row-gap: 0.5em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #444444;
}

main #content #contentHeader .inner-head button, main #content #contentHeader .inner-head a {
  background-color: transparent;
  color: #444444;
  border: 0;
}

main #content #contentHeader .inner-head #transactionSearch {
  grid-column: span 3;
  padding: 1em 0.5em;
}

main #content #contentHeader .transaction-menu {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-height: 0px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

main #content #contentHeader .transaction-menu.open {
  max-height: 300px;
}

main #content #contentHeader .transaction-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

main #content #contentHeader .transaction-menu ul button {
  background-color: transparent;
  border: 0;
  padding: 1em;
  text-transform: uppercase;
  color: #444444;
  display: block;
  width: 100%;
  text-align: left;
}

main #content #contentHeader .transaction-menu ul button:hover {
  background-color: #f3f3f3;
}

main #content #contentHeader .laporan-menu {
  grid-column: span 3;
}

main #content #contentHeader .laporan-menu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #content #contentHeader .laporan-menu ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
}

main #content #contentHeader .laporan-menu ul li button {
  margin: 0 auto;
  display: block;
  padding: 0.5em 0;
}

main #content #contentBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

main #content #contentBody .content-title h2 {
  font-size: 1em;
  font-weight: normal;
}

main #content #contentBody .content-menu#contentMenu .menu-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1em;
}

main #content #contentBody .content-menu#contentMenu .menu-card a {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'icon name' 'icon desc';
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  background-color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  border: 0;
  text-align: left;
  -webkit-box-shadow: 0 0 0 1px #dddddd;
          box-shadow: 0 0 0 1px #dddddd;
  text-decoration: none;
}

main #content #contentBody .content-menu#contentMenu .menu-card a span {
  color: #3d3dff;
}

main #content #contentBody .content-menu#contentMenu .menu-card a span.icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 50px;
  height: 50px;
  font-size: 3.5em;
}

main #content #contentBody .content-menu#contentMenu .menu-card a span.name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-size: 1.5em;
  font-weight: normal;
}

main #content #contentBody .content-menu#contentMenu .menu-card a span.desc {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: desc;
  color: #444444;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

main #content #contentBody .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

main #content #contentBody .card-group__header {
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #content #contentBody .card-group__header .total {
  color: black;
}

main #content #contentBody .card-group .card {
  background-color: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 2px lightgray;
          box-shadow: 0 0 2px lightgray;
  display: -ms-grid;
  display: grid;
  padding: 1em;
  gap: 0.5em;
  -ms-grid-columns: 15% auto auto;
      grid-template-columns: 15% auto auto;
      grid-template-areas: 'icon id status' 'icon name amount';
}

main #content #contentBody .card-group .card .icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  color: limegreen;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #content #contentBody .card-group .card .id {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: id;
  color: #444444;
}

main #content #contentBody .card-group .card .name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  color: #444444;
}

main #content #contentBody .card-group .card .status {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: status;
  color: limegreen;
  text-align: right;
}

main #content #contentBody .card-group .card .amount {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: amount;
  color: #888888;
  text-align: right;
}

main #content #contentBody .summary > span {
  color: #888888;
  font-size: 0.8em;
}

main #content #contentBody .summary-table {
  background-color: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 2px lightgray;
          box-shadow: 0 0 2px lightgray;
  width: 100%;
}

main #content #contentBody .summary-table td {
  padding: 0.5em;
  text-align: center;
  color: #888888;
}

main #content #contentBody .summary-table td span {
  display: block;
  color: black;
}

main #content #contentBody .summary-table tr:last-child td {
  background-color: rgba(0, 207, 0, 0.089);
  border-radius: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #content #contentBody .summary-table tr:last-child td span {
  color: #10a310;
}

main #content #contentBody .sale-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

main #content #contentBody .sale-report .content-title {
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #content #contentBody .sale-report .content-title span {
  color: black;
}

main #content #contentBody .sale-report .sale-report-table-container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
}

main #content #contentBody .sale-report table.sale-report-table {
  color: #444444;
  background-color: white;
  -webkit-box-shadow: 0 0 0 1px #dadada;
          box-shadow: 0 0 0 1px #dadada;
  border-collapse: collapse;
  border-radius: 0.5em;
  border-style: hidden;
  padding: 0.5em;
}

main #content #contentBody .sale-report table.sale-report-table td, main #content #contentBody .sale-report table.sale-report-table th {
  vertical-align: top;
  width: 33%;
  border: 1px solid #dadada;
  padding: 0.5em;
}

main #content #contentBody .sale-report table.sale-report-table td span, main #content #contentBody .sale-report table.sale-report-table th span {
  display: block;
}

main #content #contentBody .sale-report table.sale-report-table th span {
  text-align: right;
  font-weight: lighter;
  margin-top: 0.5em;
  color: #888888;
}

main #content #contentBody .sale-report table.sale-report-table td:not(:first-child) {
  text-align: right;
}

main #content #contentBody .sale-report table.sale-report-table td:last-child {
  background-color: rgba(0, 207, 0, 0.089);
  color: #10a310;
}

main #content #contentBody ul.modul-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

main #content #contentBody ul.modul-list span {
  color: #888888;
}

main #content #contentBody ul.modul-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

main #content #contentBody ul.modul-list li a {
  display: block;
  width: 100%;
  color: #888888;
  background-color: white;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0 0 1px lightgray;
          box-shadow: 0 0 0 1px lightgray;
  text-decoration: none;
  padding: 0.5em;
}

main #content #contentBody ul.modul-list li a:hover {
  background-color: lightgray;
}

main #content #contentBody .account-header {
  color: #888888;
}

main #content #contentBody .account-body ul.account-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  list-style-type: none;
}

main #content #contentBody .account-body ul.account-menu-list .account-menu-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #content #contentBody .account-body ul.account-menu-list .account-menu-group li.account-menu-item:first-child {
  border-radius: 0.2em 0.2em 0 0;
}

main #content #contentBody .account-body ul.account-menu-list .account-menu-group li.account-menu-item:last-child {
  border-radius: 0 0 0.2em 0.2em;
}

main #content #contentBody .account-body ul.account-menu-list .account-menu-group li.account-menu-item:first-child:last-child {
  border-radius: 0.2em;
}

main #content #contentBody .account-body ul.account-menu-list .account-menu-group li.account-menu-item {
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0 0 0 1px lightgray;
          box-shadow: 0 0 0 1px lightgray;
}

main #content #contentBody .account-body ul.account-menu-list .account-menu-group li.account-menu-item a {
  color: #888888;
  display: block;
  padding: 0.5em;
  width: 100%;
  text-decoration: none;
}

main #content #contentBody .account-body ul.account-menu-list .account-menu-group li.account-menu-item a:hover {
  background-color: lightgray;
}

main #content #overlayHeader {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

main #content #overlayHeader button.overlay-back-button {
  background-color: transparent;
  border: 0;
  color: #888888;
}

main #content #overlayHeader button.overlay-back-button:hover {
  background-color: darkgray;
}

main #content #overlayHeader .overlay-title h2 {
  font-weight: normal;
  font-size: 1em;
  text-transform: uppercase;
  color: #888888;
}

main #content #overlayHeader button.open-search {
  background-color: transparent;
  color: #888888;
  border: 0;
}

main #content #overlayHeader .kasir-search-container {
  grid-column: span 3;
  position: absolute;
  left: 0;
  top: 0;
  padding: 1em;
  width: 100%;
  display: none;
}

main #content #overlayHeader .kasir-search-container.open {
  display: block;
}

main #content #overlayHeader .kasir-search-container #kasirSearch {
  width: 100%;
  padding: 1em 0.5em;
  border: 0;
}

main #content #overlayHeader #transactionSearch {
  grid-column: span 3;
  padding: 1em 0.5em;
}

main #content #overlayBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  margin-bottom: 3em;
}

main #content #overlayBody .your-saldo-container > span {
  color: #888888;
  display: block;
}

main #content #overlayBody .your-saldo-container .your-saldo {
  font-size: 1.2em;
  color: #0000aa;
}

main #content #overlayBody form.isi-saldo-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.2em;
}

main #content #overlayBody form.isi-saldo-form > span {
  grid-column: span 2;
  color: #888888;
}

main #content #overlayBody form.isi-saldo-form label.custom-radio-container {
  width: 100%;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main #content #overlayBody form.isi-saldo-form label.custom-radio-container input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

main #content #overlayBody form.isi-saldo-form label.custom-radio-container .custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5em 1em;
  width: 100%;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 0 2px lightgray;
          box-shadow: 0 0 0 2px lightgray;
}

main #content #overlayBody form.isi-saldo-form label.custom-radio-container:hover input[type="radio"] ~ .custom-radio {
  background-color: #ccc;
}

main #content #overlayBody form.isi-saldo-form label.custom-radio-container input[type="radio"]:checked ~ .custom-radio {
  background-color: #3d3dff;
  color: white;
}

main #content #overlayBody form.isi-saldo-form label.custom-input-container {
  grid-column: span 2;
  width: 100%;
  position: relative;
  background-color: white;
  border: 0;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0 0 2px lightgray;
          box-shadow: 0 0 0 2px lightgray;
}

main #content #overlayBody form.isi-saldo-form label.custom-input-container span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5em;
  color: #0000aa;
  font-size: 0.8em;
}

main #content #overlayBody form.isi-saldo-form label.custom-input-container input[type="number"] {
  background-color: transparent;
  border: 0;
  padding-top: 1.5em 0.5em 0.5em 0.5em;
  width: 100%;
}

main #content #overlayBody form.isi-saldo-form input[type="submit"] {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 5em;
  background-color: #3d3dff;
  color: white;
  border: 0;
  border-radius: 2em;
  width: 90%;
  padding: 1em;
  grid-column: span 2;
  cursor: pointer;
}

main #content #overlayBody form.isi-saldo-form input[type="submit"]:hover {
  background-color: #8a8aff;
}

main #content #overlayBody .riwayat-kosong {
  width: 100%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #content #overlayBody .riwayat-kosong h2 {
  font-weight: normal;
  color: #444444;
}

main #content #overlayBody .kasir-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto;
      grid-template-columns: 1fr 1fr auto;
  gap: 0.2em;
}

main #content #overlayBody .kasir-header button {
  border: 0;
  border-radius: 10em;
  background-color: white;
  color: #3d3dff;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8em;
}

main #content #overlayBody .kasir-header button:last-of-type {
  background-color: #3d3dff;
  color: white;
}

main #content #overlayBody .kasir-header button:hover {
  background-color: #bbbbff;
}

main #content #overlayBody .debt-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

main #content #overlayBody .debt-list .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

main #content #overlayBody .debt-list .card-group__header {
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #content #overlayBody .debt-list .card-group__header .total {
  color: black;
}

main #content #overlayBody .debt-list .card-group .card {
  background-color: white;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 2px lightgray;
          box-shadow: 0 0 2px lightgray;
  display: -ms-grid;
  display: grid;
  padding: 1em;
  gap: 0.5em;
  -ms-grid-columns: 15% auto auto;
      grid-template-columns: 15% auto auto;
      grid-template-areas: 'icon id status' 'icon name amount';
}

main #content #overlayBody .debt-list .card-group .card .icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: icon;
  color: limegreen;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #content #overlayBody .debt-list .card-group .card .id {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: id;
  color: #444444;
}

main #content #overlayBody .debt-list .card-group .card .name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  color: #444444;
}

main #content #overlayBody .debt-list .card-group .card .status {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: status;
  color: limegreen;
  text-align: right;
}

main #content #overlayBody .debt-list .card-group .card .amount {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: amount;
  color: #888888;
  text-align: right;
}

main #content #overlayBody form.update-profile-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1em;
}

main #content #overlayBody form.update-profile-form > span {
  grid-column: span 2;
  color: #888888;
}

main #content #overlayBody form.update-profile-form label.custom-input-container {
  grid-column: span 2;
  width: 100%;
  position: relative;
  background-color: white;
  border: 0;
  border-radius: 0.2em;
  -webkit-box-shadow: 0 0 2px lightgray;
          box-shadow: 0 0 2px lightgray;
}

main #content #overlayBody form.update-profile-form label.custom-input-container span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5em;
  color: #0000aa;
  font-size: 0.8em;
}

main #content #overlayBody form.update-profile-form label.custom-input-container input[type="number"],
main #content #overlayBody form.update-profile-form label.custom-input-container input[type="text"],
main #content #overlayBody form.update-profile-form label.custom-input-container input[type="email"],
main #content #overlayBody form.update-profile-form label.custom-input-container input[type="password"] {
  background-color: transparent;
  border: 0;
  padding: 1.5em 0.5em 0.5em 0.5em;
  width: 100%;
}

main #content #overlayBody form.update-profile-form input[type="submit"] {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 5em;
  background-color: #3d3dff;
  color: white;
  border: 0;
  border-radius: 2em;
  width: 90%;
  padding: 1em;
  grid-column: span 2;
  cursor: pointer;
}

main #content #overlayBody form.update-profile-form input[type="submit"]:hover {
  background-color: #8a8aff;
}

main #content #overlayBody .module-product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

main #content #overlayBody .module-product-list .module-product-card {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'image name edit' 'image stock edit' 'image price edit';
  border-radius: 0.5em;
  background-color: white;
  -webkit-box-shadow: 0 0 2px lightgray;
          box-shadow: 0 0 2px lightgray;
  padding: 0.5em;
}

main #content #overlayBody .module-product-list .module-product-card picture {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: image;
  border-radius: 0.2em;
}

main #content #overlayBody .module-product-list .module-product-card picture img {
  max-width: 5em;
  min-height: 5em;
  border-radius: 0.2em;
}

main #content #overlayBody .module-product-list .module-product-card span {
  color: #888888;
}

main #content #overlayBody .module-product-list .module-product-card .module-product__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  color: #3d3dff;
}

main #content #overlayBody .module-product-list .module-product-card .module-product__stock {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: stock;
}

main #content #overlayBody .module-product-list .module-product-card .module-product__price {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: price;
}

main #content #overlayBody .module-product-list .module-product-card button.module-product__edit {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: edit;
  border: 0;
  background-color: transparent;
}

main #content #overlayBody .module-product-list .module-product-card button.module-product__edit span {
  color: #3d3dff;
}

main #content #overlayBody .module-product-list button.module-product__add-product-button {
  background-color: #3d3dff;
  color: white;
  border: 0;
  border-radius: 2em;
  width: 100%;
  padding: 1em;
  grid-column: span 2;
}

main #content #overlayBody .module-product-list button.module-product__add-product-button:hover {
  background-color: #8a8aff;
}
/*# sourceMappingURL=style.css.map */